# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
import os
os.listdir()
os.listdir('/Users/karinashport/Desktop/data/')

['.DS_Store',
 'Lecture_3_1_3_3_Pandas_and_numpy.ipynb',
 'health_insurance_cross_sell_prediction.csv',
 'res_lecture_3.csv',
 '.ipynb_checkpoints',
 'supermarket_sales.csv',
 'archive.zip']

In [3]:
data_path = '/Users/karinashport/Desktop/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [4]:
type(df)

pandas.core.frame.DataFrame

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [5]:
df.sort_values(by="Unit price", ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [11]:
df[df['Product line'] == 'Electronic accessories'].sort_values(by='Unit price', ascending=False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [19]:
df['Rating Category'] = df['Rating'].apply(lambda x: 'High' if x >= 8 else ('Medium' if 6 <= x < 8 else 'Low'))

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [20]:
df['Rating Category'].value_counts(normalize=True)

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [21]:
time = '11:28'

In [27]:
def get_hour(time):
    hour = time.split(':')[0]
    return int(hour)

hour = get_hour(time)
print(hour)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [32]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [35]:
df['Hour'].value_counts().sort_index()

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

Найбільше покупок було о 10, 13, 15 та 19 годинах. Це доволі логічно: 

о 10й ранку люди зазвичай закінчують свої ранкові справи та можуть зайнятися своїм битом. Як варіант, у такий час покупки могли робити домашні господарки. Також у цей час можуть робити покупки люди, які працюють з дому, та хочуть скупитися в період, коли вони очікують, що не буде великого натовпу (хоча за кількістю покупок ми бачимо, що це не так). Також, судячи з усього, це час відкриття магазину.

о 13й та 15й годинах у людей можлива обідня перерва. А хтось о 15й може як раз закінчити свою роботу або навчання і робити покупки перед поверненням до дому. 

о 19й годині люди також можуть повертатися з роботи і робити покупки перед поверненням до дому. Загалом, це сприятливий час для сімейних покупок та вечірнього досугу.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [38]:
df.groupby('City')['Total'].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [42]:
df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

У місті Yangon було зроблено найбільше покупок, але при тому там найменша середня сума чеку. Це може свідчити про те, що клієнти часто роблять невеликі покупки. Можна впровадити програми лояльності (знижки, кешбеки тощо) та запустити нові рекламні кампанії, які стимулюватимуть клієнтів робити більші покупки.

У місті Naypyitaw одночасно спостерігається найбільша максимальна сума чеку та найменша мінімальна сума чеку. Водночас загальна кількість покупок у Naypyitaw найнижча серед інших міст, проте середній чек тут найвищий. Щоб збільшити кількість покупок, варто розглянути стратегії залучення нових клієнтів і розширення асортименту товарів, орієнтованих на різні категорії покупців.

У місті Mandalay середній чек досить високий, і кількість покупок майже на рівні з Yangon. Тут є потенціал для зростання і треба фокусуватися на розширенні та покращенні операцій у цьому місті. Це може включати розширення асортименту товарів, підвищення якості обслуговування клієнтів та оптимізацію логістичних процесів для задоволення зростаючого попиту.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [44]:
df.to_csv('supermarket_sales_enriched.csv', index=False)

In [45]:
pd.read_csv('supermarket_sales_enriched.csv', nrows=5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,High,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,Low,10