#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
import os
os.listdir()
os.listdir('/Users/karinashport/Desktop/data/')
data_path = '/Users/karinashport/Desktop/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [3]:
type(df)

pandas.core.frame.DataFrame

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [19]:
branch_profit = df.groupby('Branch')['Total'].sum()
branch_profit

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [21]:
max_profit = branch_profit.max()
max_profit

110568.7065

In [24]:
most_profitable_branch = branch_profit.idxmax()
most_profitable_branch

'C'

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [30]:
df[df['Branch'] == most_profitable_branch]['City'].unique()[0]

'Naypyitaw'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [40]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')

invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [44]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ü–∏—Ç–∞–Ω–Ω—è 1: –Ø–∫–∞ –∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏—Ö –ª—ñ–Ω—ñ–π–æ–∫ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–º–µ–Ω—à–µ –ø—Ä–∏–±—É—Ç–∫—É, —á–æ–º—É —Ç–∞ —è–∫ —Ü–µ –∑–º—ñ–Ω–∏—Ç–∏?

In [46]:
df.groupby('Product line')['Total'].sum()

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

In [48]:
df.groupby('Product line')['Total'].sum().idxmin()

'Health and beauty'

–î–æ–¥–∞—Ç–∫–æ–≤–æ –ø–æ–¥–∏–≤–∏–º–æ—Å—è –ø–æ –º—ñ—Å—Ç–∞–º.

In [50]:
df[df['Product line'] == 'Health and beauty'].groupby('City')['Total'].sum()

City
Mandalay     19980.660
Naypyitaw    16615.326
Yangon       12597.753
Name: Total, dtype: float64

–¢–∞–∫–æ–∂ —Ü—ñ–∫–∞–≤–æ –ø–æ–¥–∏–≤–∏—Ç–∏—Å—è, —á–æ–º—É —É –º—ñ—Å—Ç—ñ Yangon –Ω–∞—Å—Ç—ñ–ª—å–∫–∏ –º–∞–ª–∞ —Å—É–º–∞.

In [56]:
df[df['Product line'] == 'Health and beauty'].groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

           count        mean      min      max
City
Mandalay      53  376.993585  18.6375  922.635
Naypyitaw     52  319.525500  32.2770  950.250
Yangon        47  268.037298  19.2465  752.640

–ë–∞—á–∏–º–æ, —â–æ —É Yangon –Ω–∞–π–º–µ–Ω—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫. –¶–µ –∑–±—ñ–≥–∞—î—Ç—å—Å—è –∑ –¥–∞–Ω–∏–º–∏ –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—ñ—Ö –¥–æ–º–∞—à–Ω—ñ—Ö –∑–∞–≤–¥–∞–Ω—å, –¥–µ –º–∏ –≤–∂–µ –∞–Ω–∞–ª—ñ–∑—É–≤–∞–ª–∏ –ø–æ–∫—É–ø–∫–∏ —É –º—ñ—Å—Ç—ñ –∑–∞–≥–∞–ª–æ–º. –ê–ª–µ —É –≤–∏–ø–∞–¥–∫—É –∑ 'Health and beauty', —É Yangon —â–µ –π –Ω–∞–π–º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–∞–≥–∞–ª–æ–º.

–ú–æ–∂–ª–∏–≤–æ, —É –º—ñ—Å—Ç—ñ –ø—Ä–æ—Å—Ç–æ –º–µ–Ω—à–∏–π –ø–æ–ø–∏—Ç –Ω–∞ —Ü—ñ —Ç–æ–≤–∞—Ä–∏. –¶–µ –º–æ–∂–µ –±—É—Ç–∏ –∑—É–º–æ–≤–ª–µ–Ω–æ —Å–æ—Ü—ñ–∞–ª—å–Ω–æ-–µ–∫–æ–Ω–æ–º—ñ—á–Ω–∏–º–∏ —É–º–æ–≤–∞–º–∏ –∞–±–æ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–Ω–∏–º —Å–µ—Ä–µ–¥–æ–≤–∏—â–µ–º. 

–¢–∞–∫–æ–∂ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ –≤ Yangon –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—ñ–ª—å—à —á—É—Ç–ª–∏–≤–∏–º–∏ –¥–æ —Ü—ñ–Ω (—Ç–∞–∫—ñ –≤–∏—Å–Ω–æ–≤–∫–∏ –º–∏ –≤–∂–µ —Ä–æ–±–∏–ª–∏ —Ä–∞–Ω—ñ—à–µ, –æ—Ü—ñ–Ω—é—é—á–∏ —ñ–Ω—à—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó), —â–æ –ø—Ä–∏–∑–≤–æ–¥–∏—Ç—å –¥–æ –º–µ–Ω—à–∏—Ö –≤–∏—Ç—Ä–∞—Ç –∑–æ–∫—Ä–µ–º–∞ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—é 'Health and beauty'. 

–©–µ –æ–¥–∏–Ω –≤–∞—Ä—ñ–∞–Ω—Ç, —â–æ –≤ Yangon –ø—Ä–æ—Å—Ç–æ –º–µ–Ω—à–µ –º–∞–≥–∞–∑–∏–Ω—ñ–≤, —è–∫—ñ –ø—Ä–æ–ø–æ–Ω—É—é—Ç—å –ø—Ä–æ–¥—É–∫—Ü—ñ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Health and beauty', —â–æ –æ–±–º–µ–∂—É—î –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ —É —Ü—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

–û—Ç–∂–µ, –ø–æ–≤–µ—Ä–Ω–µ–º–æ—Å—è –¥–æ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –ø–∏—Ç–∞–Ω–Ω—è, —á–æ–º—É 'Health and beauty' –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–º–µ–Ω—à–µ –ø—Ä–∏–±—É—Ç–∫—É —ñ —è–∫ —Ü–µ –∑–º—ñ–Ω–∏—Ç–∏:

‚Ä¢ –¢—Ä–µ–±–∞ –æ—Ü—ñ–Ω–∏—Ç–∏ –ø–æ–ø–∏—Ç —Ç–∞ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç. –Ø–∫ –≤–∞—Ä—ñ–∞–Ω—Ç, –ø—Ä–æ–≤–µ—Å—Ç–∏ –¥–µ—Ç–∞–ª—å–Ω—ñ—à–∏–π –∞–Ω–∞–ª—ñ–∑ –ø–æ–ø–∏—Ç—É –Ω–∞ –ø—Ä–æ–¥—É–∫—Ü—ñ—é 'Health and beauty, –≤–∫–ª—é—á–∞—é—á–∏ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ —Ç–∞ –∞–Ω–∞–ª—ñ–∑ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç—ñ–≤. 
‚Ä¢ –¢—Ä–µ–±–∞ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª—ñ–∑ –¥–µ–º–æ–≥—Ä–∞—Ñ—ñ—á–Ω–∏—Ö –≥—Ä—É–ø, —è–∫—ñ –∫—É–ø—É—é—Ç—å –ø—Ä–æ–¥—É–∫—Ü—ñ—é 'Health and beauty', —ñ –≤–∏–∑–Ω–∞—á–∏—Ç–∏, —á–∏ —î —Ü—ñ–ª—å–æ–≤–∞ –∞—É–¥–∏—Ç–æ—Ä—ñ—è –¥–ª—è —Ü–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ —É —Ü–∏—Ö –º—ñ—Å—Ç–∞—Ö. –ú–æ–∂–ª–∏–≤–æ, –ø–æ—Ç—Ä—ñ–±–Ω–æ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –∞–±–æ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –ø—Ä–æ–¥—É–∫—Ç–∏ –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö –¥–µ–º–æ–≥—Ä–∞—Ñ—ñ—á–Ω–∏—Ö –≥—Ä—É–ø.
‚Ä¢ –¢—Ä–µ–±–∞ –æ—Ü—ñ–Ω–∏—Ç–∏ –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∫–∞–º–ø–∞–Ω—ñ–π —Ç–∞ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–Ω–∏–π –∞–Ω–∞–ª—ñ–∑, —â–æ–± –≤–∏–∑–Ω–∞—á–∏—Ç–∏, —á–∏ —î –º–∞–≥–∞–∑–∏–Ω–∏-–∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–∏ –∑ –±—ñ–ª—å—à –ø—Ä–∏–≤–∞–±–ª–∏–≤–∏–º–∏ —Ü—ñ–Ω–∞–º–∏ –∞–±–æ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—è–º–∏. –Ø–∫ —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –º–æ–∂–Ω–∞ —Ä–æ–∑—Ä–æ–±–∏—Ç–∏ –Ω–æ–≤—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—ó, –∑–Ω–æ–≤ –∂ —Ç–∞–∫–∏ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ —ó—Ö –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö –¥–µ–º–æ–≥—Ä–∞—Ñ—ñ—á–Ω–∏—Ö –≥—Ä—É–ø.
‚Ä¢ –¢—Ä–µ–±–∞ –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏, —è–∫ —Ü—ñ–Ω–∏ –Ω–∞ 'Health and beauty' –ø—Ä–æ–¥—É–∫—Ç–∏ —É –≤–∞—à–∏—Ö –º–∞–≥–∞–∑–∏–Ω–∞—Ö —Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—Å—è—Ç—å—Å—è –∑ —Ü—ñ–Ω–∞–º–∏ —É –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç—ñ–≤. –û—Ü—ñ–Ω–∏—Ç–∏ —á—É—Ç–ª–∏–≤—ñ—Å—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ –¥–æ —Ü—ñ–Ω. –ú–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –∑–Ω–∏–∑–∏—Ç–∏ —Ü—ñ–Ω–∏ –∞–±–æ –≤–≤–µ—Å—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –∞–∫—Ü—ñ—ó —Ç–∞ –∑–Ω–∏–∂–∫–∏ –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –æ–±—Å—è–≥—É –ø—Ä–æ–¥–∞–∂—ñ–≤.

–ü–∏—Ç–∞–Ω–Ω—è 2: –£ —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö –Ω–∞–π–º–µ–Ω—à—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –ø—Ä–æ–¥–∞–∂—ñ–≤, —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞–º –Ω–∞–π–º–µ–Ω—à –ø–æ–ø—É–ª—è—Ä–Ω—ñ. –ó–Ω–æ–≤ –∂ —Ç–∞–∫–∏, —á–æ–º—É —Ü–µ –º–æ–∂–ª–∏–≤–æ —Ç–∞ —è–∫ —Ü–µ –º–æ–∂–Ω–∞ –≤–∏—Ä—ñ—à–∏—Ç–∏?

In [62]:
df.groupby(['City', 'Product line']).agg({'Total': 'sum'})

                                       Total
City      Product line
Mandalay  Electronic accessories  17051.4435
          Fashion accessories     16413.3165
          Food and beverages      15214.8885
          Health and beauty       19980.6600
          Home and lifestyle      17549.1645
          Sports and travel       19988.1990
Naypyitaw Electronic accessories  18968.9745
          Fashion accessories     21560.0700
          Food and beverages      23766.8550
          Health and beauty       16615.3260
          Home and lifestyle      13895.5530
          Sports and travel       15761.9280
Yangon    Electronic accessories  18317.1135
          Fashion accessories     16332.5085
          Food and beverages      17163.1005
          Health and beauty       12597.7530
          Home and lifestyle      22417.1955
          Sports and travel       19372.6995

In [68]:
df.groupby(['City', 'Product line']).agg({'Total': 'sum'}).sort_values(by='Total', ascending=True).head(2)

                                  Total
City      Product line
Yangon    Health and beauty   12597.753
Naypyitaw Home and lifestyle  13895.553

–í–∏—â–µ –º–∏ –≤–∂–µ –æ–±–≥–æ–≤–æ—Ä–∏–ª–∏ –ø—Ä–æ–¥—É–∫—Ç–æ–≤—É –ª—ñ–Ω—ñ–π–∫—É Health and beauty —É Yangon. –ê–ª–µ —Ç–µ–ø–µ—Ä –º–∏ –±–∞—á–∏–º–æ, —â–æ –¥—Ä—É–≥–∏–º –Ω–∞–π–Ω–∏–∂—á–∏–º –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –∑ –ø—Ä–æ–¥–∞–∂—ñ–≤ —î Home and lifestyle —É Naypyitaw. –°–ø–æ—á–∞—Ç–∫—É –ø–æ–¥–∏–≤–∏–º–æ—Å—è, —á–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Home and lifestyle —î –¥—Ä—É–≥–æ—é –∑ –Ω–∞–π–º–µ–Ω—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º, –∞ —Ç–∞–∫–æ–∂ –ø–æ–¥–∏–≤–∏–º–æ—Å—è —è–∫–∞ —Ä—ñ–∑–Ω–∏—Ü—è —É –ø—Ä–æ–¥–∞–∂–∞—Ö —É Naypyitaw —Ç–∞ —ñ–Ω—à–∏—Ö –º—ñ—Å—Ç–∞—Ö.

In [74]:
df.groupby('Product line')['Total'].sum().nsmallest()

Product line
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Fashion accessories       54305.8950
Electronic accessories    54337.5315
Sports and travel         55122.8265
Name: Total, dtype: float64

In [75]:
df[df['Product line'] == 'Home and lifestyle'].groupby('City')['Total'].sum()

City
Mandalay     17549.1645
Naypyitaw    13895.5530
Yangon       22417.1955
Name: Total, dtype: float64

In [76]:
df[df['Product line'] == 'Home and lifestyle'].groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

           count        mean     min       max
City
Mandalay      50  350.983290  33.936  1022.490
Naypyitaw     45  308.790067  14.679  1023.750
Yangon        65  344.879931  19.194   951.825

–î—ñ–π—Å–Ω–æ, –º–∏ –±–∞—á–∏–º–æ, —â–æ —É –ø—Ä–æ–¥—É–∫—Ç–æ–≤—ñ–π –ª—ñ–Ω—ñ–π—Ü—ñ Home and lifestyle, –Ω–∞–π–º–µ–Ω—à—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ —î —É –º—ñ—Å—Ç—ñ Naypyitaw. –•–æ—á–∞ –æ–¥–Ω–æ—á–∞—Å–Ω–æ –∑ –Ω–∞–π–º–µ–Ω—à–∏–º–∏ –ø–æ–∫–∞–∑–Ω–∏–∫–∞–º–∏, —Ç–∞–º —ñ –±—É–ª–∞ –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω–∞ –Ω–∞–π–±—ñ–ª—å—à–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ —Å—É–º–∞ —á–µ–∫—É, –∞–ª–µ –≤–æ–Ω–∞ –∑–æ–≤—Å—ñ–º —Ç—Ä–æ—Ö–∏ –≤–∏—â–∞ –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ Mandalay.

–¶–µ –ø—Ä–∏–≤–æ–¥–∏—Ç—å –Ω–∞—Å –¥–æ —Ç–∞–∫–∏—Ö –≤–∏—Å–Ω–æ–≤–∫—ñ–≤:

‚Ä¢ –ú–æ–∂–ª–∏–≤–æ, —Ü–µ–π —Å–µ–≥–º–µ–Ω—Ç —Ä–∏–Ω–∫—É –Ω–µ —î –ø–æ–ø—É–ª—è—Ä–Ω–∏–º —Å–µ—Ä–µ–¥ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ —É —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ. –¶–µ –º–æ–∂–µ –±—É—Ç–∏ –ø–æ–≤'—è–∑–∞–Ω–æ –∑ –Ω–∏–∑—å–∫–∏–º –ø–æ–ø–∏—Ç–æ–º –∞–±–æ –Ω–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ—é –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ñ—Å—Ç—é —Ç–æ–≤–∞—Ä—ñ–≤ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –Ω–∞ —Ä–∏–Ω–∫—É.
‚Ä¢ –•–æ—á–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –ø—Ä–æ–¥–∞–∂—ñ–≤ —É Naypyitaw —î –Ω–∞–π–º–µ–Ω—à–∏–º–∏, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ —Å—É–º–∞ —á–µ–∫—É —î –Ω–∞–π–≤–∏—â–æ—é. –¶–µ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ —Ç–µ, —â–æ, –∫–æ–ª–∏ —Å–ø–æ–∂–∏–≤–∞—á—ñ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Home and lifestyle, –≤–æ–Ω–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –Ω–∞ –æ–¥–∏–Ω–∏—Ü—é —Ç–æ–≤–∞—Ä—É, –∞–ª–µ —Ç–∞–∫–∏—Ö –ø–æ–∫—É–ø–æ–∫ –Ω–µ–±–∞–≥–∞—Ç–æ. –¶–µ –º–æ–∂–µ –±—É—Ç–∏ –æ–∑–Ω–∞–∫–æ—é —Ç–æ–≥–æ, —â–æ —Å–ø–æ–∂–∏–≤–∞—á—ñ –∫—É–ø—É—é—Ç—å —Ü—ñ —Ç–æ–≤–∞—Ä–∏ —Ä—ñ–¥—à–µ, –∞–ª–µ –∑ –≤–∏—Å–æ–∫–∏–º–∏ –≤–∏—Ç—Ä–∞—Ç–∞–º–∏ –Ω–∞ –æ–¥–∏–Ω–∏—Ü—é.

–©–æ —Ç—Ä–µ–±–∞ –∑—Ä–æ–±–∏—Ç–∏ –¥–∞–ª—ñ:

‚Ä¢  –ü—Ä–æ–≤–µ—Å—Ç–∏ –≥–ª–∏–±—à–µ –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è —Ä–∏–Ω–∫—É –≤ Naypyitaw, —â–æ–± –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —á–∏ –ø–æ–ø–∏—Ç –Ω–∞ Home and lifestyle –ø—Ä–æ–¥—É–∫—Ü—ñ—é –Ω–∏–∑—å–∫–∏–π —á–∏ —Ç–æ–≤–∞—Ä–∏ –Ω–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ñ –Ω–∞ —Ä–∏–Ω–∫—É. –í–∞—Ä—Ç–æ –æ—Ü—ñ–Ω–∏—Ç–∏ —Å–æ—Ü—ñ–∞–ª—å–Ω–æ-–µ–∫–æ–Ω–æ–º—ñ—á–Ω—ñ —É–º–æ–≤–∏, –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–Ω–µ —Å–µ—Ä–µ–¥–æ–≤–∏—â–µ, —ñ –ø—Ä–æ–≤–µ—Å—Ç–∏ –¥–µ—Ç–∞–ª—å–Ω—ñ—à–∏–π –∞–Ω–∞–ª—ñ–∑ –ø–æ–ø–∏—Ç—É –Ω–∞ –ø—Ä–æ–¥—É–∫—Ü—ñ—é. –ú–æ–∂–ª–∏–≤–æ, –∑–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –±—É–¥–µ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞–±–æ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç. –Ø–∫—â–æ –∂ –≤–∏—è–≤–∏—Ç—å—Å—è, —â–æ –ø–æ–∫—É–ø—Ü—ñ —Ç–∞–º –º–µ–Ω—à –ø–ª–∞—Ç–æ—Å–ø—Ä–æ–º–æ–∂–Ω—ñ, —Ç—Ä–µ–±–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Ü—ñ–Ω–æ–≤—É –ø–æ–ª—ñ—Ç–∏–∫—É –∞–±–æ –≤–≤–µ—Å—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó (–∞–∫—Ü—ñ—ó, –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ).

–ü–∏—Ç–∞–Ω–Ω—è 3: –¢–µ–ø–µ—Ä –ø–æ–¥–∏–≤–∏–º–æ—Å—è —è–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—ñ–≤ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É. –¢–∞ —á–∏ —Å–∏—Ç—É–∞—Ü—ñ—è —É –º—ñ—Å—Ç–∞—Ö –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –≤—ñ–¥ —Å–∏—Ç—É–∞—Ü—ñ—ó, —è–∫—É –º–∏ –±–∞—á–∏–º–æ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö Home and lifestyle —Ç–∞ Health and beauty. –ß–∏–º —Ü–µ –º–æ–∂–µ –±—É—Ç–∏ –∑—É–º–æ–≤–ª–µ–Ω–æ.

In [77]:
df.groupby('Product line')['Total'].sum().idxmax()

'Food and beverages'

In [78]:
df[df['Product line'] == 'Food and beverages'].groupby('City')['Total'].sum()

City
Mandalay     15214.8885
Naypyitaw    23766.8550
Yangon       17163.1005
Name: Total, dtype: float64

In [79]:
df[df['Product line'] == 'Food and beverages'].groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

           count        mean     min       max
City
Mandalay      50  304.297770  56.406   888.615
Naypyitaw     66  360.103864  22.659  1034.460
Yangon        58  295.915526  33.432   932.337

–¢–∞–∫–∏–º —á–∏–Ω–æ–º, –º–∏ –∑ º—è—Å—É–≤–∞–ª–∏, —â–æ –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Food and beverages. –¢–∏–º –Ω–µ –º–µ–Ω—à, –º–∏ –±–∞—á–∏–º–æ, —â–æ —Å–∏—Ç—É–∞—Ü—ñ—è —É —Ç—Ä—å–æ—Ö –º—ñ—Å—Ç–∞—Ö –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è. –£ —Ü—å–æ–º—É –≤–∏–ø–∞–¥–∫—É –Ω–∞–π–º–µ–Ω—à—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ —É –º—ñ—Å—Ç—ñ Mandalay. 

–ú–æ–∂–ª–∏–≤–æ, –ø–æ–ø–∏—Ç –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Food and beverages —É Mandalay —î –º–µ–Ω—à–∏–º –ø–æ—Ä—ñ–≤–Ω—è–Ω–æ –∑ —ñ–Ω—à–∏–º–∏ –º—ñ—Å—Ç–∞–º–∏. –¶–µ –º–æ–∂–µ –±—É—Ç–∏ –∑—É–º–æ–≤–ª–µ–Ω–æ —Ä—ñ–∑–Ω–∏—Ü–µ—é –≤ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—ñ –∞–±–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç—ñ–≤. –ú–∞–ª–æ–π–º–æ—Ä—ñ–≤–Ω–æ, —â–æ —Ü–µ –∑—É–º–æ–≤–ª–µ–Ω–æ —Ü—ñ–Ω–∞–º–∏, –∞–¥–∂–µ –≤ —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö (—è–∫ –æ—Ç Health and beauty, Home and lifestyle) Mandalay –Ω–µ –º–∞–≤ –Ω–∞–π–º–µ–Ω—à—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏.

–¢–∞–∫–æ–∂ –º–æ–∂–ª–∏–≤–æ, —â–æ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó –¥–ª—è Food and beverages —É Mandalay –±—É–ª–∏ –º–µ–Ω—à –µ—Ñ–µ–∫—Ç–∏–≤–Ω–∏–º–∏ –≤ –ø–æ—Ä—ñ–≤–Ω—è–Ω–Ω—ñ –∑ —ñ–Ω—à–∏–º–∏ –º—ñ—Å—Ç–∞–º–∏.

–ó–∞–≥–∞–ª–æ–º, –æ—Å–∫—ñ–ª—å–∫–∏ Food and beverages –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑ —É—Å—ñ—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π, –±—ñ–∑–Ω–µ—Å—É —Ç—Ä–µ–±–∞ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤ —É—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö. –¶–µ –º–æ–∂–µ –≤–∫–ª—é—á–∞—Ç–∏ –≤–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è –Ω–æ–≤–∏—Ö –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –∞–±–æ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è —ñ—Å–Ω—É—é—á–∏—Ö –ª—ñ–Ω—ñ–π–æ–∫. –¢—Ä–µ–±–∞ —Ä–æ–∑—Ä–æ–±–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó, —â–æ –∞–∫—Ü–µ–Ω—Ç—É—é—Ç—å —É–≤–∞–≥—É –Ω–∞ —Ü—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

–Ø–∫—â–æ —î –ø–æ—Ç–µ–Ω—Ü—ñ–∞–ª –¥–ª—è —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è, –º–æ–∂–Ω–∞ –≤—ñ–¥–∫—Ä–∏—Ç–∏ –Ω–æ–≤—ñ —Ç–æ—á–∫–∏ –ø—Ä–æ–¥–∞–∂—É, –æ—Å–æ–±–ª–∏–≤–æ –≤ –º—ñ—Å—Ç–∞—Ö –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º, —Ç–∞–∫–∏—Ö —è–∫ Naypyitaw.